.Article {
	text-decoration: none;
	width: 463px;

	@include media-breakpoint-down(lg) {
		width: 100%;
	}

	&-container {
		background-color: map-get($white, base);
		border: 1px solid map-get($gray, light);
		border-radius: 12.8px;
		box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
		color: map-get($gray, bold);
		padding: 32px;
		width: 100%;
		transition: all 200ms ease;

		&:hover {
			border-color: $orange;
			box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
		}
	}

	&-title {
		font-family: $font-primary;
		font-size: 19.2px;
		font-weight: 700;
		line-height: 1.25;
		margin-bottom: 16px;
		text-decoration: none;
	}

	&-description {
		font-family: $font-primary;
		font-size: 12.8px;
		margin-bottom: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: break-word;
	}
}
