.Footer {
	background-color: map-get($gray, dark);
	display: flex;
	flex-direction: column;
	font-family: $font-primary;
	font-size: 16px;
	height: 463px;
	padding: 32px 0;
	position: sticky;
	z-index: 1032;
	width: 100%;

	@include media-breakpoint-down(lg) {
		height: auto;
	}

	&-container {
		margin: auto;
		max-width: 1320px;
		width: 100%;
	}

	&-links {
		display: flex;
		padding: 0 16px;
		margin-bottom: 16px;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
			gap: 30px;
		}
	}

	&-section {
		height: 222px;
		width: 330px;

		@include media-breakpoint-down(lg) {
			height: auto;
		}
	}

	&-list {
		list-style: none;
	}

	&-title {
		color: map-get($white, base);
		font-weight: 700;
		margin-bottom: 16px;
	}

	&-item {
		color: map-get($white, light);
		line-height: 2;
		text-decoration: none;
		transition: color $transition;

		&:hover {
			color: $orange;
			text-decoration: underline;
		}
	}

	&-icon {
		margin-left: 5px;
	}

	&-image {
		height: 80px;
		margin-bottom: 24px;
		object-fit: cover;
		opacity: 0.5;
		transition: opacity $transition;
		width: 300px;

		&:hover {
			opacity: 1;
		}
	}

	&-copyright {
		color: map-get($white, light);
		text-align: center;
	}
}
