.Navbar {
	align-items: center;
	background-color: map-get($white, base);
	box-shadow: $navbar-shadow;
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin: 0;
	padding: 8px 16px;
	position: sticky;
	width: 100%;
	z-index: 1032;

	&-logo {
		height: 36px;
		width: 100%;
	}

	&-list {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&-items {
		color: map-get($black, light);
		font-family: $font-primary;
		font-size: 16px;
		font-weight: 500;
		padding: 4px 12px;
		position: relative;
		text-decoration: none;
		transition: color $transition;

		&:hover {
			color: $orange;
		}

		&.Submenu {
			padding: 8px 12px;

			&:hover {
				color: map-get($black, light);

				.Dropdown {
					opacity: 1;
					pointer-events: all;
					transform: translateY(-1px);
					visibility: visible;
				}
			}
		}
	}

	&-theme {
		background: none;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		margin-right: 12px;
		outline: none;
		transition: background-color $transition;
	}

	&-icon {
		color: map-get($black, light);
		font-size: 24px;
		padding: 4px 12px;

		&:hover {
			opacity: 0.6;
		}
	}

	.icon-theme {
		background: map-get($white, base);
		border-radius: 50%;
		font-size: 22px;
		padding: 2px;

		&:hover {
			background: map-get($gray, lighter);
			border-radius: 50%;
		}
	}
}
