.Section {
	font-family: $font-primary;
	margin-left: 400px;
	max-width: 990px;
	width: 100%;
	padding: 16px 16px 32px;

	@include media-breakpoint-down(lg) {
		margin-left: 0;
	}

	&-title {
		font-weight: 700;
		font-size: 48px;
		line-height: 1.25;
		margin-bottom: 25px;

		@include media-breakpoint-down(sm) {
			font-size: 32px;
		}
	}

	&-text {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	&-version {
		background-color: map-get($gray, light);
		border: 1px solid map-get($gray, light);
		border-radius: 6.4px;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0;
		padding: 4px 8px;
	}

	&-articles {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		margin-bottom: 32px;
	}

	&-edition {
		display: flex;
		margin: 48px 0;
		justify-content: space-between;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&-edit {
		color: $orange;
		font-size: 16px;
		font-weight: 400;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&-icon {
		margin-right: 5px;
	}

	&-editedBy {
		font-size: 13.3333px;
		font-style: italic;

		&.bold {
			font-weight: 700;
		}
	}

	&-breadcrumb {
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: flex-start;
		margin-bottom: 14px;
	}

	&-breadcrumbLink {
		color: map-get($black, light);
		text-decoration: none;
		padding: 6px 12px;
		font-size: 12px;
		transition: all 0.15s ease-in-out;

		&:hover {
			background: $background-opacity;
			border-radius: 125px;
			display: inline-block;
			color: $orange;
			cursor: pointer;
			opacity: 0.7;
		}
	}

	&-breadcrumbChevron {
		&::before {
			border-style: solid;
			border-width: 0.08em 0.08em 0 0;
			content: '';
			display: inline-block;
			height: 0.35em;
			position: relative;
			top: -1.2px;
			transform: rotate(45deg);
			vertical-align: middle;
			width: 0.35em;
			z-index: -1;
		}
	}

	&-breadcrumbTitle {
		background: $background-opacity;
		border-radius: 125px;
		padding: 7px 10px;
		margin-bottom: 0;
		font-size: 12.5px;
		font-weight: 400;

		@include media-breakpoint-down(sm) {
			font-size: 13px;
			color: $orange;
		}
	}
}
