.Sidebar {
  background-color: $white;
  border-right: 1px solid $light-gray;
  color: $gray;
  width: 300px;
  z-index: 1500;

  .sidebar-nav {
    padding: 8px;
  }

  .sidebar-brand {
    background-color: $white;
    cursor: pointer;
    justify-content: flex-start;
    padding-left: 16px;
  }

  .sidebar-toggler {
    background-color: $white;
    border-top: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    justify-content: center;

    &::before {
      background-image: none;
      content: "<<";
      color: gray;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -8px;
      transition: .5s all ease;
    }
  }

  &-logo {
    height: 32px;
    width: 128px;
  }

  .nav-group {
    &.show {
      background-color: $white;
      color: $gray;

      .nav-group-toggle {
        color: $gray;
        padding-left: 12px;
      }
    }

    .nav-group-toggle {
      &::after {
        content: ">";
      }
    }
  }

  .nav-group-items {
    margin-left: 12px;
  }

  .nav-link {
    color: $gray;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    padding: 6px 12px;

    &:hover {
      color: $gray;
      background-color: $item-background;
    }

    &.active {
      color: $gray;
      padding-left: 12px;
    }

    &::after {
      background-image: none;
    }
  }
}