.DarkMode {
	.Navbar {
		background-color: map-get($darkmode, background-nav);
	}

	.Navbar-items {
		color: #e3e3e3;

		&.Submenu:hover {
			color: $orange;
		}
	}

	.Navbar-icon {
		color: #e3e3e3;
	}

	.Navbar .icon-theme {
		background: none;
		color: #e3e3e3;

		&:hover {
			background: map-get($darkmode, background-moon);
		}
	}

	.Search {
		background-color: map-get($black, light);

		&:hover {
			background-color: map-get($black, light);
			color: #e3e3e3;
		}
	}

	.Search-icon {
		color: map-get($white, base);
	}

	&.Modal .modal-content {
		background-color: map-get($darkmode, background-primary);
		box-shadow: map-get($darkmode, shadow-modal);
	}

	.Modal-form {
		background: map-get($black, base);
	}

	.Modal-form .Input {
		background: map-get($black, base);
	}

	.Modal-element {
		background-color: map-get($black, light);
		color: #e3e3e3;
	}

	&.Modal .modal-footer {
		background-color: map-get($darkmode, background-nav);
		border-top: 0;
		box-shadow: map-get($darkmode, modal-footer);
	}

	&.Modal .child {
		&::before {
			color: map-get($gray, medium);
		}
	}

	.Sidebar {
		background-color: map-get($darkmode, background-primary);

		.sidebar-brand {
			background-color: map-get($darkmode, background-primary);
		}

		.nav-group {
			.nav-group-toggle {
				&::after {
					color: map-get($gray, medium);
				}
			}
		}

		.nav-group.show {
			background-color: map-get($darkmode, background-primary);

			.nav-link {
				color: $orange;
			}
		}

		.nav-group.show {
			.nav-group-items {
				.nav-link {
					color: map-get($gray, light);
				}
			}
		}

		.sidebar-nav .nav-link:hover.nav-group-toggle::after {
			background-image: none;
		}

		.nav-link {
			color: map-get($gray, light);

			&:hover {
				color: $orange;
				background-color: map-get($gray, bold);
			}
		}

		.nav-group {
			.nav-group-items {
				.nav-group.show {
					.nav-group-toggle {
						color: $orange;

						&::after {
							color: map-get($gray, medium);
						}
					}

					.nav-group-items {
						.nav-group-toggle {
							color: map-get($gray, light);
						}

						.nav-group.show {
							.nav-group-toggle {
								color: $orange;
							}
						}
					}
				}
			}
		}
	}
}