.DarkMode {
	.Navbar {
		background-color: $background-darkmode-nav;
	}

	.Navbar-items {
		color: #e3e3e3;

		&.Submenu:hover {
			color: $orange;
		}
	}

	.Navbar-icon {
		color: #e3e3e3;
	}

	.Navbar .icon-theme {
		background: none;
		color: #e3e3e3;

		&:hover {
			background: $background-darkmode-moon;
		}
	}

	.Search {
		background-color: map-get($black, light);

		&:hover {
			background-color: map-get($black, light);
			color: #e3e3e3;
		}
	}

	.Search-icon {
		color: map-get($white, base);
	}

	&.Modal .modal-content {
		background-color: $background-darkmode-searchModal;
		box-shadow: $darkmode-shadow-modal;
	}

	.Modal-form {
		background: map-get($black, base);
	}

	.Modal-form .Input {
		background: map-get($black, base);
	}

	.Modal-element {
		background-color: map-get($black, light);
		color: #e3e3e3;
	}

	&.Modal .modal-footer {
		background-color: $background-darkmode-nav;
		border-top: 0;
		box-shadow: $darkmode-shadow-modal-footer;
	}

	&.Modal .child {
		&::before {
			color: map-get($gray, medium);
		}
	}
}
