$black: #1C1E21;
$lightest-gray: #EBEDF0;
$light-gray: #DADDE1;
$gray: #606770;
$medium-gray: #444950;
$dark-gray: #525860;
$darkest-gray: #2B3137;
$white: #FFF;
$soft-white: #EBEDF0;
$orange: #EC9C09;

$font-primary: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-secundary: Arial;
$navbar-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
$transition: 200ms cubic-bezier(0.08,0.52,0.52,1);